@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');.home-sticky-menu
{
    width: 100%;
    height: 12vh;
    position: absolute;
    top: 0px;
    z-index: 10;
    background-color: rgb(0,0,0,0.6);

}
.menu-container
{
    height: 100%;
    width: 75%;
    margin: auto;
    color: white;
    z-index: 100;
}
.upper-menu
{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-menu
{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-menu img 
{
    height: 13px;
}
.upper-menu-social-media-contaier 
{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.contact-menu span{
    margin-left: 5px;
    font-size: 14px;
    font-family: 'sans-serif';
}
.right-upper-menu
{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-upper-menu img
{
    height: 60%;
    
}

#signup-btn
{
    height: 80%;
    width: 90%;
    outline: none;
    border: none;
    background-color: #ffb235;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.7em;
}
#signup-btn:hover
{
    cursor: pointer;
    color: black;
    padding: 4px 17px;
    transform: scale(1.1);
    transition: color 0.6s ease, transform 0.2s ease;
    
}
#signup-btn:focus
{
    outline: none;
    border: none;
}
#signup-btn:active 
{
    border:1px solid black;
}
.lower-menu
{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lower-menu-logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lower-menu-logo:hover
{
    cursor: pointer;
}
.lower-menu-logo img
{
    height: 40px;
}
.logo-text
{
    font-family: 'arial';
    font-style: bold;
    font-size: 22px;
    margin-left: 15px;
}
.logo-text p 
{
    display: inline;
    color: #ffb235;
    
}
.lower-menu-buttons
{
    width: 50%;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 19px;
}
#fb-icon:hover
{
    filter: invert(49%) sepia(55%) saturate(5679%) hue-rotate(195deg) brightness(100%) contrast(87%);
    transition: filter 0.1s ease;
}
#linkedin-icon:hover
{
    filter: invert(51%) sepia(19%) saturate(7496%) hue-rotate(184deg) brightness(99%) contrast(88%);
    transition: filter 0.1s ease;
}
#skype-icon:hover
{
    filter: invert(55%) sepia(94%) saturate(825%) hue-rotate(184deg) brightness(106%) contrast(103%);
    transition: filter 0.1s ease;
}
#whatsapp-icon:hover
{
    filter: invert(61%) sepia(87%) saturate(672%) hue-rotate(87deg) brightness(92%) contrast(96%);
    transition: filter 0.1s ease;
}



